.a{
    width: 4px;
}
 

.md-form .prefix ~ input, .md-form .prefix ~textarea{
    margin-left: 3rem; 
    width: 80%;
    
}
[type="checkbox"] + label {
    position: relative;
    padding-left: 37px;
    margin-left: 30px;
}