<div class="col-md-12">        
    <div class="row">
        <div class="col-md-1">
            
        </div>            
       <div class="col-md-9">
         <br>

           <div class="card" [routerLink]= "['/viewmess']">
               <div class="card-body">
                   <div class="row">
                           <div class="col-md-4">
                                   <img src="http://lorempixel.com/900/700/sports/Dummy-Text" style="hight:250px; width: 180px;" />
                            </div>
                            <div class="col-md-8">
                                   <h4> MessName Pune</h4>
                                   <p> MyMessAddress is here Pune</p>
                                   <p> Contact No : 4141252563</p>
                                   <p> rating  * * * * *</p>
                                   <hr>
                            </div>
                            <div>


                                <div class="card">                                     
                                    <div class="card-body">
                                        <!-- <h4 class="card-title">Card title</h4> -->
                                        <button type="button" class="btn btn-default"> Opening Days :</button>
                                         &nbsp; &nbsp;                             
        
                                      <b> Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday.</b>
                                    </div>
                                </div>
                                
                                
                                <div class="card">                                     
                                    <div class="card-body">
                                        <button class="btn btn-default"  >Timing :</button> 
                                        &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;   &nbsp; &nbsp;  
                                        <button class="btn btn-primary" mdbRippleRadius >Open : 7:00 AM</button>
                                        <button class="btn btn-primary">Close : 11:00 PM</button>                                 </div>
                                </div>

                                <div class="card">                                     
                                    <div class="card-body">
                                        <button type="button" class="btn btn-default"  >Todays menu :</button>
                                        <div class="card">                                     
                                            <div class="card-body">
                                               </div>
                                        </div>                                     
                                      </div>
                                </div>

                                <div class="card">                                     
                                    <div class="card-body">
                                        <button type="button" class="btn btn-default"  >Photos :</button> <br>
                                         <img src="http://lorempixel.com/900/700/sports/Dummy-Text" style="hight:250px; width: 180px;" />
                                         <img src="http://lorempixel.com/900/700/sports/Dummy-Text" style="hight:250px; width: 180px;" />
                                          <img src="http://lorempixel.com/900/700/sports/Dummy-Text" style="hight:250px; width: 180px;" />
                                        
                                      </div>
                                </div>
 
                                <!-- <div class="card">                                     
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                    </div>
                               </div> -->
  
                                
                              </div>
                   </div>                    
               </div>
           
           </div> 
           
         
           
       </div>
   </div>
 </div>
