// .card{
//     background-color: grey;
// }

.md-form .prefix ~ input, .md-form .prefix ~textarea{
    margin-left: 5rem; 
    width: 80%;
    
}
.le {
    /* margin-right: 0px; */
    margin-left: 100px;
}
#time{
    width: 100px;
}

.card h6{
   margin-top: 20px;
   float: left;
}
 .card input{
     float: right;
 }
 label {
    // font-size: 0.8rem;
    color: #080808;
}

