 <div class="container">
   <div class="row">
     <div class="col-md-12">
<div class="row" style="margin-top:20px">
    <div class="col-md-3">
        <img src="/assets/bg.jpg" style="hight:220px; width: 150px;" />
        
      </div>
      <div class="col-md-9" style="margin-left:0px;">
          <form action="/action_page.php">
            Mess Name: <input type="text" name="fname"><br>
            Address: <input type="text" name="lname"><br>
            Contact No: <input type="text" name="lname"><br>
            Select Opening Days : <br> <br>
            <div class="form-group">
                <input type="checkbox" class="filled-in" id="checkbox2">
                <label for="checkbox2">Sunday</label>
                <input type="checkbox" class="filled-in" id="checkbox3">
                <label for="checkbox3">Monday</label>
                <input type="checkbox" class="filled-in" id="checkbox4">
                <label for="checkbox4">Tuesday</label>
                <input type="checkbox" class="filled-in" id="checkbox5">
                <label for="checkbox5">Wednesday</label>
                <input type="checkbox" class="filled-in" id="checkbox6">
                <label for="checkbox6">Thursday</label>
                <input type="checkbox" class="filled-in" id="checkbox7">
                <label for="checkbox7">Friday</label>
                <input type="checkbox" class="filled-in" id="checkbox8">
                <label for="checkbox8">Saturday</label>

            </div>
                    


            <input type="submit" class="btn btn-info" value="Submit">
          </form>
      </div>
</div>
     
     </div>
   </div>
 </div>