

<div class="container">
    
    <div class="row justify-content-center">
<div class="col-md-6">
  <div class="card card-body">
    <form class="mt-5" style="width: 22rem;">
      <p class="h5 text-center mb-4">Forgot Password ?</p>
    <hr>
   
      <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="orangeForm-email" class="form-control">
          <label for="orangeForm-email" class="">Your email</label>
      </div>
    
      
      <div class="text-center">
          <button class="btn btn-deep-orange waves-effect waves-light"  [routerLink]= "['/login']">Back</button>
          <button class="btn btn-deep-orange waves-effect waves-light" [routerLink]= "['/resetpass']">Send Link</button>
          
        </div>
    
    </form>
  </div>
  </div>
    </div>
</div>