// .container{
//     opacity: 0.5;
// }
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  #full-screen-background-image {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #wrapper {
    position: relative;
    width: 800px;
    min-height: 400px;
    margin: 100px auto;
    color: #333;
  }
  .jumbotron{
    // background-color: transparent;
    // border-radius: 33px;
    opacity: 40;
    
  }
  *:focus {
    outline: none;
}
  .abt{
    background-color: #6EA4D9;
  }
  // .btn{
  //   height:49px ;
  //   width: 187px;
  // }

  // .opcty{
  //   opacity: 0.5;
  // }
  // .container{
  //   opacity: 0.5;
  // }

  // .btn{
  //   border-radius: 11px;    
  // }

  // .col-md-4, .col-md-4{
  //   border: 1px solid rebeccapurple;
  // }

  