     
<body class="opcty">
    <img alt="full screen background image" src="../assets/img/bg.jpg" id="full-screen-background-image" /> 
   
</body>

<div class="container">
  <div class="row">
      <div class="col-md-12">     
         <div class="row jumbotron brd"style="margin-top:170px">
             
          <div class="col-md-4">
              <input class="form-control twitter-typeahead tt-input" 
              placeholder="Enter an City" 
              type="text"              
              style="position: relative; vertical-align: top; background-color: transparent;">
          </div>

          <div class="col-md-4">
               <input type="text"               
              name="area"
              required="required"               
              class="form-control" 
              placeholder="Enter an area" />
            </div>

          <div class="col-md-4">
              <button type="submit"
              id="button" 
              name="button" 
              class="btn btn-deep-orange waves-effect waves-light" [routerLink]= "['/searchresult']">Search</button>
          </div>
      </div>
    </div>
  </div>
   </div>
  